@function pxToRem($px) {
    @return ($px/12px) * 1rem;
}
.works {
    .subNav {
        height: pxToRem(40px);
        width: 100%;
        background: #fff;
        li {
            width: 33.33333%;
            height: pxToRem(40px);
            line-height: pxToRem(40px);
            text-align: center;
            display: inline-block;
            a {
                font-size: pxToRem(14px);
                display: inline-block;
                height: 38px;
            }
        }
        li a.active  {
            border-bottom: 2px solid #2c72ac;
        }
    }
}

.Recommend.list,.Popularity.list,.Newest.list {
    width: 100%;
    overflow: auto;
    .item:nth-child(odd){
        padding-right: 2px;
    }
    .item {
        width: 50%;
        display: block;
        height: pxToRem(207px);
        overflow: hidden;
        float: left;
        box-sizing: border-box;
        padding-bottom: 2px;
        div {
            width: 100%;
            height: 100%;
            position: relative;
            &>img {
                display: block;
                width: 100%;
                height: 100%;
            }
            span {
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0;
                font-size: pxToRem(13px);
                width: 100%;
                height: pxToRem(35px);
                padding: pxToRem(5px) pxToRem(20px);
                line-height: pxToRem(20px);
                background: -webkit-gradient(linear,0 0,0 bottom,from(transparent),to(rgba(0,0,0,.5)));
                color: #fff;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                -webkit-box-sizing: border-box;
                -ms-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                img {
                    opacity: 1;
                    margin-left: auto;
                    height: auto;
                    width: pxToRem(20px);
                    height: pxToRem(20px);
                    margin-top: 0px;
                    border-radius: 50%;
                    margin-right: pxToRem(10px);
                    vertical-align: middle;
                }
            }
        }
    }
}