@import './reset.scss';
#app,
.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.page-layout {
  position: relative;
  width: 100%;
  height: 100%;
  .classify,
  .page {
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    will-change: transform;
    position: absolute;
    top: 0;
  }
  .page {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .page.none {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .classify {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .classify.yes {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .classify {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .title {
      height: pxToRem(44px);
      line-height: pxToRem(44px);
      color: #fff;
      text-align: center;
      font-size: pxToRem(18px);
      background: #000;
      i {
        position: absolute;
        left: 0;
        font-size: pxToRem(20px);
        padding: 0 pxToRem(15px);
      }
    }
    .list-ul {
      background: #000;
      li {
        width: 100%;
        height: pxToRem(120px);
        text-align: center;
        color: #fff;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: relative;
        dl {
          display: block;
          font-size: pxToRem(18px);
          position: absolute;
          top: 50%;
          width: 100%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          transform: translate(0, -50%);
          .second {
            font-size: pxToRem(12px);
          }
        }
      }
    }
  }
}

.defalut {
  text-align: center;
  font-size: pxToRem(12px);
  line-height: pxToRem(50px);
  color: #999;
}