@import "./reset.scss";
#app,
.app {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.page-layout {
  position: relative;
  width: 100%;
  height: 100%;
  .classify,
  .page {
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    will-change: transform;
    position: absolute;
    top: 0;
  }
  .page {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .page.none {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .classify {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  .classify.yes {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  .classify {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .list-ul {
      background: #000;
      li {
        width: 100%;
        height: pxToRem(120px);
        text-align: center;
        color: #fff;
        background-size: 100% auto;
        background-repeat: no-repeat;
        position: relative;
        dl {
          display: block;
          font-size: pxToRem(18px);
          position: absolute;
          top: 50%;
          width: 100%;
          -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
          -moz-transform: translate(0, -50%);
          transform: translate(0, -50%);
          .second {
            font-size: pxToRem(12px);
          }
        }
      }
    }
  }
}

.defalut {
  text-align: center;
  font-size: pxToRem(12px);
  line-height: pxToRem(50px);
  color: #999;
}

.noFound {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
  }
}

// 城市选择组件 start
.picker-city.picker-show {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}
.picker-city {
  position: fixed;
  bottom: 0;
  padding: pxToRem(12px);
  padding-top: 0;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0 0 pxToRem(12px) #ddd;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  will-change: transform;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  .toolbar {
    height: pxToRem(40px);
    line-height: pxToRem(40px);
    border-bottom: 1px solid #ddd;
    span {
      font-size: pxToRem(16px);
      color: #007aff;
      padding: 0 pxToRem(20px);
    }
    .cancel {
      float: left;
    }
    .yes {
      float: right;
    }
  }
  .picker-modal {
    height: pxToRem(140px);
    overflow: hidden;
    padding: pxToRem(10px) 0;
    padding-top: pxToRem(8px);
    position: relative;
    div[class^="picker-list"] {
      float: left;
      width: 33.333%;
      .packer-item {
        font-size: pxToRem(16px);
        text-align: center;
        line-height: pxToRem(30px);
        height: 30px;
        color: #999;
        box-sizing: border-box;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        -webkit-transition: -webkit-transform 0.3s ease-out;
        transition: -webkit-transform 0.3s ease-out;
        transition: transform 0.3s ease-out;
        transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
        will-change: transform;
      }
      .packer-item.selected {
        color: #333;
      }
    }
    .active-line {
      width: 100%;
      line-height: pxToRem(30px);
      height: pxToRem(30px);
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      position: absolute;
      margin-top: pxToRem(60px);
      box-sizing: border-box;
    }
  }
}
// 城市选择组件 end