.header {
    position: relative;
    height: pxToRem(44px);
    line-height: pxToRem(44px);
    width: 100%;
    background: #000;
    text-align: center;
    color: #fff;
    font-size:  pxToRem(18px);
    .iconfont {
        position: absolute;
        position: absolute;
        left: 0;
        top: 0;
        width: pxToRem(44px);
        height: pxToRem(44px);
        text-align: center;
        color: #fff;
        font-size:  pxToRem(18px);
    }
}
.subNav {
    
}