html,body,* {
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
  width: 100%;
}

// 根html的 font-size 大小
$htmlSize: 12px;

html {
  font-size: $htmlSize;
  font-family: -apple-system,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Arial,sans-serif;
  word-break: break-word;
  text-rendering: optimizeLegibility;
  color: #333;
  background-color: #f4f5f5;
}

ul,li {
  list-style: none;
}
a {
  text-decoration: none;
}

// 大小的计算
@function pxToRem($px) {
  @return ($px/$htmlSize) * 1rem;
}